body {
    cursor: url(https://seanchu.actonservice.com/cdnr/94/acton/attachment/17373/f-002b/1/-/-/-/-/QuillUp.png), default !important;
}

div {
    font-size: 18pt;
    font-family: aquilinetworegular, papyrus, serif;
}

.a:hover {
    color: #AAAAAA;
    cursor: url(https://seanchu.actonservice.com/cdnr/94/acton/attachment/17373/f-002b/1/-/-/-/-/QuillUp.png), auto;
}

html {
    box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
    background: #fffef0;
    filter: url(#wavy2);
}